<% include partials/header %>

    <div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Not Found 404.</h1>
            <p>お探しのページは見つかりませんでした。</p>
        </div>
    </header>

    <!-- Adsense -->
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=hitaraku12-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B01CNF4866&linkId=bbc70a53443910a3e9cca252757516d6"></iframe>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=hitaraku12-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B07BQZDB2C&linkId=868a90074935a2ba04de941e609f3ee9"></iframe>
    
    </div>

<% include partials/footer %>